<html>
	<style>
		.inline{
			display:inline-block;
		}
		a{
			display:inline-block;
		}
	</style>
	<head></head>
	<body>
		<div class = 'pane'>
			<h1>Classes</h1>
			
			<a href="{{ url_for('newClass') }}" class="inline"> 
				<p>Create a New Class</p>
			</a>
			&nbsp;|&nbsp;
			<a href=" {{url_for('showAll') }} ">
				<p> Back</p>
			</a>
			&nbsp;|&nbsp;
			<a href=" {{ url_for('readCSV') }} ">
				<p>Read CSV</p>
			</a>
			<table border="1">
				<tr>
					<td>class ID</td><td>class stage</td><td>class name</td><td>Main Teacher</td><td>Assist Teacher</td><td>start date</td><td>open1</td><td>open2</td><td>open3</td><td>graduate date</td><td></td><td></td>
				</tr>
				{% for htmlClass in htmlClasses %}	
				<tr>
					<td>{{htmlClass.id}}</td>
					<td>{{htmlClass.class_stage}}</td>
					<td>{{htmlClass.class_name}}</td>
					<td>{{htmlClass.main_teacher}}</td>
					<td>{{htmlClass.teaching_assistant}}</td>
					<td>{{htmlClass.start_date.date()}}</td>
					<td>{{htmlClass.open1.date()}}</td>
					<td>{{htmlClass.open2.date()}}</td>
					<td>{{htmlClass.open3.date()}}</td>
					<td>{{htmlClass.graduate_date.date()}}</td>
					<td>
						<a href = "{{url_for('editClass',class_id = htmlClass.id)}}">
							Edit
						</a>
					</td>
					<td>
						<a href = "{{url_for('deleteClass',class_id = htmlClass.id)}}">
							Delete
						</a>
					</td>
				</tr>		
				{% endfor %}
			</table>	
		</div>
	</body>
</html>