<html>
<head>
<meta content="text/html; charset=utf-8">
</head>
<body>
	<a href="add.php">Add New</a> | 
	<a href="survey_sum.php">Survey Summary</a> |
	<a href="report-all-in-one.php">Report all in one</a> | 
	<br><br>
	<table border="1">
		<tr>
			<td> q1</td><td>q2</td><td>q3</td><td>q4</td><td>q5</td>
			<td>survey_id</td><td>class_number</td><td>student_name</td>
			<td>average</td><td>q11</td>
			<td> text1</td><td>text2</td><td>text3</td>
			<td>d_teacher</td> <td>co_tea</td> <td>tel</td>
			<td>open_date</td><td>ordinal</td>
			<td></td>
		</tr>
	</table>